global:
  balancer_host: balancer.example.com
  balancer_port: 22
  k8s_config_path: cluster.yml
  namespace: graylog
  network_policy: #true or false
  workers:
    - worker1.example.com
    - worker2.example.com
    - worker3.example.com
graylog:
  url: https://graylog.example.com
  user: admin # user with admin grants
  password: pass
users:
  - username: user
    password: pass
    email: user@example.com
    first_name: user
    last_name: example
inputs:
  - title: gelf-input-example
    type: "org.graylog2.inputs.gelf.udp.GELFUDPInput"
    global: true
    configuration:
      bind_address: 0.0.0.0
      port: 1002
      nodeport: 30002
      decompress_size_limit: 8388608
      number_worker_threads: 1
      override_source: null
      recv_buffer_size: 262144
    static_fields: 
      key: test
      value: example
    node: null
streams:
  - title: steam-example
    description: steam-example
    remove_matches_from_default_stream: True
    matching_type: AND
    index_set_id: 60fff2b01f48f37072372f3c
    rules:
      field: test
      inverted: False
      value: example
indexes:
  - title: example-index
    id: 60fff2b01f48f37072372f3c
    description: example-index
    index_prefix: example
    shards: 2
    replicas: 0
    rotation_strategy_class: org.graylog2.indexer.rotation.strategies.TimeBasedRotationStrategy
    rotation_strategy:
      type: org.graylog2.indexer.rotation.strategies.TimeBasedRotationStrategyConfig
      rotation_period: P1D
    retention_strategy_class: org.graylog2.indexer.retention.strategies.DeletionRetentionStrategy
    retention_strategy:
      type: org.graylog2.indexer.retention.strategies.DeletionRetentionStrategyConfig
      max_number_of_indices: 20
    index_analyzer: standard
    index_optimization_max_num_segments: 1
    index_optimization_disabled: False
    field_type_refresh_interval: 5000
    index_template_type: null
    writable: True
    default: False
